<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AppMusic_AHL">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DanhSachNhac"></activity>
        <activity android:name=".activity.DanhsachPlayList" />
        <activity android:name=".activity.DanhSachNhac_CaSi" />
        <activity android:name=".activity.Login_Facebook" />
        <activity android:name=".fragment.Video_Fragment_ThongTin" />
        <activity android:name=".fragment.Video_Fragment_TiepTheo" />
        <activity android:name=".fragment.TinTuc_Fragment" />
        <activity android:name=".activity.PhatVideo" />
        <activity android:name=".fragment.Video_Fragment" />
        <activity android:name=".activity.DanhSachTheLoai" />
        <activity android:name=".activity.DanhSachCaSi" />
        <activity android:name=".activity.PhatNhac" />
        <activity android:name=".fragment.Nhac_Fragment" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>